:root{
    --main-background-color-grayish-white: #fbfcfc;
}
body{
    background-color: var(--main-background-color-grayish-white)/*#A9D7D1*/;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #title{
      font-size: 50px;
  }
  h1,p{
    text-align: center;
  }
  form{
    margin-right:auto;width:60%;margin-left: auto;/*to center the form horizentally inside its parent (no need to display:block because it is by default)*/
    padding: 3%;
    background-color: #fafafa;
    border-radius: 5px;
  }
  form *{/*selecting all direct children of the form*/
    margin-top: 10px;margin-bottom: 10px;
  }
  label{/*this will make the label take 50% of the row and its text will be aligned to the right, and we have to change its default display (inline) because the default value (inline) will make the browser ignore width-marginleft-marginright*/
    width:50%;margin-left:0%;margin-right:0%;text-align:right;
    display:inline-block;/*we changed it from inline (default value) to inline-block so that the browser will consider the values of the above properties... if we made it 'block' it will occupy the whole row which doesn't make sense in here*/
  }
  .entries{
    margin-left: 2%;/*make a space between labels and inputs*/
    width:30%;
    height:25px;
  }    
  textarea{
    height: 30%;
    margin-left: 2%;/*make a space between labels and inputs*/
    width:30%;
  }
  .entries:focus{/*behaviours when the entry is being focused*/
    border: 2px solid #59ACE0;
    border-radius: 2px;
  }
  textarea:focus{/*behaviours when the textarea is being focused*/
    border: 2px solid #59ACE0;
    border-radius: 2px;
  }
  #submit{
    background-color: #59ACE0;
    color:#fff;
    border-radius: 3px;
    display:block;margin-left: auto;margin-right:auto;width:25%;/*this is to make the button take the whole row (display block) and then get horizentally centred*/
    height: 29px; 
  }
